*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
body {
    position: relative;
}
main .box{
    height: 10rem;
    width: 10rem;
    border: 2px solid black;
    background-color: aquamarine;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    /* cursor: pointer; */
}
.box:hover {
    background-color: beige;
}
h1 {
    text-align: center;
    font-size: 3.5vh;
}
.col-12 button {
    background-color: lightcoral;
}
.col-12 button:hover{
    background-color: lightcoral;
}
.col-12 img {
    /* display: none; */
    width: 0;
}

.col-12>img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

@media (max-width:600px) {
    main .box{
        height: 8rem;
        width: 5rem;
        font-size: 4rem;
    }
}